.box {
  padding: 80px 30px;
  outline: 2px dashed #9c92ac;
  outline-offset: -2px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}

.box.box__dragging {
  background-color: #e9e9e9;
  outline-offset: -12px;
}

@media (prefers-color-scheme: dark) {
  .box.box__dragging {
    background-color: #161f27;
  }
}

.box__dragndrop {
  display: inline;
}

.box__file {
  position: absolute;
  visibility: hidden;
}

.box__input {
  width: 100%;
  text-align: center;
}

.box__label {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.box__click_upload {
  cursor: pointer;
}

.box__click_upload {
  text-decoration: underline;
}
