@import "droparea.css";
@import "loader.css";

/* Check http://www.heropatterns.com/ */
body {
  /* background-color: #e9e9e9; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  margin-top: 0;
}

header {
  padding-bottom: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li:not(:last-child) {
  margin-right: 16px;
}

td {
  vertical-align: middle;
}

img {
  height: 100px;
}

img.logo {
  height: 150px;
}

hr {
  margin: 12px 0;
}

details {
  user-select: none;
}

.loader_wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.alert {
  color: #ff495c;
}

@media (prefers-color-scheme: dark) {
  .alert {
    color: var(--code);
  }
}

.text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quality-wrapper {
  display: flex;
  align-items: center;
}

.quality-slider {
  display: inline-block !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  width: 180px;
}

.quality-slider:focus {
  box-shadow: none !important;
}
