<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		
		<meta name="description" content="Browser-based, privacy-aware JPEG optimizer">
		<meta property="og:title" content="JPEG.rocks">
		<meta property="og:image" content="https://jpeg.rocks/assets/images/logo_light_mode.png">
		<meta property="og:url" content="https://jpeg.rocks">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="JPEG.rocks">
		<meta property="og:description" content="Browser-based, privacy-aware JPEG optimizer">

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
		<link rel="manifest" href="/assets/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/assets/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
